@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Domine&display=swap');

*{
    margin: 0;
}

.head{
    color: whitesmoke;
    font-family: 'Kalam', cursive;
    padding: 15px 10px;
    margin: auto;
    font-size: 64px;
    text-align: center;
    background-image: linear-gradient(45deg, rgb(25, 83, 122) 0%, rgb(59, 174, 219) 100%);
    border-style: double;
    border-color: white;
    border-width: 3px;
    border-radius: 10px;
}

.head a{
    margin-top: -20px;
    margin-left: 10px;
    vertical-align: middle;
    display: flex;
    justify-content: start;
    font-size: 14px;
    font-weight: lighter;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    width: max-content;
}
.head a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.texttitle{
    padding: 15px 0;
    text-align: center;
    margin: auto;
    color:black;
    font-size: 26px;
    font-family: 'Domine', serif;
}

.maintext{
    padding: 15px;
    margin:auto;
    width: 50vw;
    text-align: left;
    word-spacing: 6px;
    font-size: 16px;
    font-family: 'Domine', serif;
    border-style: solid;
    border-width: 0;
    border-color: rgba(16, 93, 156, 0.568);
    border-radius: 30px 0 30px 0;
}

.tema{
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    max-width: 60vw;
    line-height: 140%;
    border-style: ridge;
    border-width: 0px;
    border-color: rgba(87, 167, 214, 0.788);
    border-radius: 6% 0 6% 0;
}

.tema img{
    width: 20vw;
    min-width: 300px;
    height: 250px;
    margin: 20px;
    float: left;
}

.tematext{

    font-family: 'Domine', serif;
    font-size: 14px;
    margin-left: 50px;
}

.tematext h1{
    font-size: 24px;
    font-family: 'Domine', serif;
    font-weight: lighter;
}

.tematext h2{
    font-size: 20px;
    font-family: 'Kalam', cursive;
 
}

.Objetivos{
    text-decoration: underline;
}

.footer{
    margin-top: 40px;
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(134, 207, 255);
}

.footer a{
    width: min-content;
}

.footer img{
    margin: 0px 100px;
    height: 60px;
    width: auto;
}



